#
# Sesame Bridge
# https://github.com/homy-newfs8/esphome-sesame3
#

esphome:
  name: entrance-sesame-bridge
  friendly_name: "Entrance Sesame Bridge"
  min_version: 2025.5.0
  platformio_options:
    board_build.flash_mode: dio
    build_flags:
      - -std=gnu++17 -Wall -Wextra
      - -DMBEDTLS_DEPRECATED_REMOVED -DCONFIG_BT_NIMBLE_ROLE_BROADCASTER_DISABLED -DCONFIG_BT_NIMBLE_ROLE_PERIPHERAL_DISABLED
      - -DCONFIG_BT_NIMBLE_MAX_CONNECTIONS=4
    build_unflags:
      - -std=gnu++11

external_components:
  - source:
      type: git
      url: https://github.com/homy-newfs8/esphome-sesame3
      ref: v0.18.1
    components: [ sesame, sesame_ble ]

esp32:
  board: lolin_c3_mini
  variant: esp32c3
  framework:
    type: arduino

ota:
  - platform: esphome
    password: ""

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  use_address: !secret wifi_addr

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "EntranceSesameBridge"
    password: "espespesp"

mqtt:
  broker: !secret mqtt_addr
  port: !secret mqtt_port
  topic_prefix: esphome/Entrance_SesameBridge
  discovery: false

logger:
  level: info

captive_portal:

web_server:

sesame:
  - id: sesame1
    model: sesame_5_pro
    public_key: !secret lock_pubkey
    secret: !secret lock_secret
    address: !secret lock_addr
    lock:
      id: entrance_lock
      name: EntranceLock
      state_topic: esphome/Entrance_SesameBridge/lock/state
      command_topic: esphome/Entrance_SesameBridge/lock/command

  - id: sesame2
    model: sesame_bot
    public_key: !secret bot_pubkey
    secret: !secret bot_secret
    address: !secret bot_addr
    lock:
      id: entrance_bot
      name: EntranceBot
      state_topic: esphome/Entrance_SesameBridge/bot/state
      command_topic: esphome/Entrance_SesameBridge/bot/command

  - id: sesame3
    model: sesame_bot_2
    public_key: !secret bot2_pubkey
    secret: !secret bot2_secret
    address: !secret bot2_addr
    bot:
      id: workspace_bot
      running_sensor:
        name: Bot2 Status

button:
  - platform: template
    name: "Run Bot2 Script0"
    state_topic: esphome/Entrance_Talk/script0/state
    command_topic: esphome/Entrance_Talk/script0/command
    on_press:
      - lambda: |-
          id(workspace_bot).run(0);
  - platform: template
    name: "Run Bot2 Script1"
    state_topic: esphome/Entrance_Talk/script1/state
    command_topic: esphome/Entrance_Talk/script1/command
    on_press:
      - lambda: |-
          id(workspace_bot).run(1);
  - platform: template
    name: "Run Bot2 Script2"
    state_topic: esphome/Entrance_Talk/script2/state
    command_topic: esphome/Entrance_Talk/script2/command
    on_press:
      - lambda: |-
          id(workspace_bot).run(2);
